DB_HOST=localhost
DB_PORT=5432
DB_USER=system
DB_PASSWORD=manager
DB_NAME=context75
PORT=8010


# Simple API Authentication Token for http admin panel (leave blank to disable)
API_TOKEN=

# Simple Authentication Token for MCP server requests (leave blank to disable)
MCP_TOKEN=
